.jokes{
    display: flex;
    background-color: #FCD633;

}
.grade{
    display: inline-block;
    width: 10%;
}

.joke{
    display: inline-block;
    width: 80%;
}
.emoji{
    display: inline-block;
    width: 10%;
}
.score{
    display: inline-block; 
    padding: .5rem .5rem;
    
    border: solid 0.1em;
    border-color: indigo;
    border-radius: 100%;
}
.Upbn{ 
    border: 0rem white;
    color:#f76c6c;
    font-weight: 600;
    font-size: 2rem;
    background-color: transparent;

}
.Downbn{
    border: 0rem white;
    color:#A8D0E6;
    font-weight: 600;
    font-size: 2rem;
    background-color: transparent;
}
